jobs:
  build:
    docker:
      - image: cimg/android:2023.07
    steps:
      - checkout
      - run: ./gradlew androidDependencies
      - run: ./gradlew lint test
      - gradle/with_cache:
          steps:
            - run:
                name: Building the APK
                command: ./gradlew -s assembleDebug
      - store_artifacts:
          path: app/build/outputs/apk/debug/app-debug.apk

workflows:
  test-build:
    jobs:
      - build
      - gradle/run:
          executor: android
          command: ktlint --stacktrace
      - gradle/test:
          executor: android
          test_command: test --stacktrace
          test_results_path: app/build/reports/tests
      - android/run-ui-tests:
          executor: { name: android/android-machine, tag: 2022.04.1 }
          test-command: ./gradlew connectedAndroidTest
